{% load static %}

<nav class="navbar navbar-expand-lg mai-sub-header">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler hidden-md-up collapsed" type="button" data-toggle="collapse" data-target="#mai-navbar-collapse" aria-controls="mai-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <div class="navbar-collapse collapse mai-nav-tabs" id="mai-navbar-collapse">
        <ul class="nav navbar-nav">
          {% if request.user.is_superuser %}
            <li class="nav-item parent ">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-users"></span>
                <span>Users</span>
              </a>
              <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                <li class="nav-item">
                  <a class="nav-link  {% if reception or reception %}active{% endif %}" href="{% url 'home' %}"> 
                    <span class="name">Receptions</span>
                  </a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link {% if nurse or nurse %}active{% endif %}" href="{% url 'nurse' %}">
                      </span><span class="name">Nurses</span>
                    </a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link {% if doctor or doctor %}active{% endif %}" href="{% url 'doctor' %}">
                    </span><span class="name">Doctors</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if technician or technician %}active{% endif %}" href="{% url 'technician' %}">
                      
                    </span><span class="name">Laboratory Technicians</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- End Of Users -->
            <li class="nav-item parent ">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-server"></span>
                <span>Clinical Services</span>
              </a>
              <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                <li class="nav-item">
                  <a class="nav-link" href="">
                    {% comment %}
                      {% url 'clinic_programs' %}
                    {% endcomment %}
                    <span class="name"> Clinical Programs</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- End Of Clinincal Services -->
            <li class="nav-item parent ">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-box1"></span>
                <span>Mediacal Store</span>
              </a>
              <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="name">Product Management</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="name"> Order Management</span>
                  </a>
                </li>
              </ul>
            </li>
          {% endif %}
          {% if request.user.is_reception %}
            <li class="nav-item parent">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-portfolio"></span>
                <span>Patients</span></a>
                <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      <span class="name">Registered</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      <span class="name">Admitted</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      <span class="name">Discharged</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      <span class="name">Outpatient</span>
                    </a>
                  </li>
                </ul>
            </li>

            <!-- 

              ADD ROUTES TO ASSIGNED APPOINTMENTS AND UNASSIGNED APPOINTMENTS
             -->

            <li class="nav-item parent">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-portfolio"></span>
                <span>Appointments</span></a>
                <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                  <li class="nav-item">
                    <a class="nav-link " href="{% url 'appointment' %}">
                      <span class="name">Appointment</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="">
                      <span class="name">Unassigned Appointment</span>
                    </a>
                  </li>
                </ul>
            </li>


          {% endif %}
          {% if request.user.is_nurse %}
          <li class="nav-item parent">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              <span class="icon s7-portfolio"></span>
              <span>Patients Vitals</span></a>
              <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                <li class="nav-item">
                  <a class="nav-link" href="">
                    <span class="name">Registered</span>
                  </a>
                </li>
              </ul>
          </li>
          {% endif %}

          {% if request.user.is_doctor %}
            <li class="nav-item parent">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-portfolio"></span>
                <span>Patients</span></a>
                <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      <span class="name">Registered</span>
                    </a>
                  </li>
                </ul>
            </li>
            <li class="nav-item parent">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-portfolio"></span>
                <span>Appointments</span></a>
                <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">
                      <span class="name">Assigned Appointment</span>
                    </a>
                  </li>
                </ul>
            </li>
            <li class="nav-item parent">
              <a class="nav-link" href="#" role="button" aria-expanded="false">
                <span class="icon s7-portfolio"></span>
                <span>Prescription</span></a>
                <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">
                      <span class="name">Assigned Prescription</span>
                    </a>
                  </li>
                </ul>
            </li>
          {% endif %}
          {% if request.user.is_technician %}
          <li class="nav-item parent">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              <span class="icon s7-portfolio"></span>
              <span>Patients Experiment</span></a>
              <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                <li class="nav-item">
                  <a class="nav-link" href="">
                    <span class="name">Laboratory</span>
                  </a>
                </li>
              </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="search">
      <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
    </div> 
  </div>
</nav>