{% load static %}

{% for appointment in appointment %}
    <tr class="table-light">
        <td>
            <label class="custom-control custom-control-sm custom-checkbox">
                <input class="custom-control-input" type="checkbox">
                <span class="custom-control-label"></span>
            </label>
        </td>
        <td class="user-avatar cell-detail user-info">
            <img src="../../../../media/default/user.png" alt="Avatar">
            <span>{{ appointment.patient_requested }} </span>
            <span class="cell-detail-description">Patient</span>
        </td>
        <td class="cell-detail">
            <span>{{ appointment.doctor_assigned }}</span>
            <span class="cell-detail-description">Doctor</span>
        </td>
        <td class="cell-detail">
            <span>{{ appointment.phone_number }}</span>
            <span class="cell-detail-description">Age: {{ patient.age }}</span>
        </td>
        <td class="cell-detail">
            <span> {{ appointment.appointment_time }} </span>
            <span class="cell-detail-description">{{ appointment.appointment_time }}</span>
        </td>
        <td class="cell-detail">
            <span> {{ appointment.created_on.date }} </span>
            <span class="cell-detail-description">{{ appointment.created_on.date }}</span>
        </td>
    </tr>
{% endfor %}