{% extends "index.html" %}
{% load static %}

<!--  -->

{% block content %}
    <div class="mai-wrapper mai-login">
        <div class="main-content container">
        <div class="splash-container row">
            <div class="col-md-6 user-message">
                <h1 class="text-center">UNIVERSITY OF <br> DAR ES SALAAM</h1> 
                <img class="logo-img" src="{% static 'assets/img/logo_ud.png' %}" alt="logo" style="max-height: 125px;">
            </div>
            <div class="col-md-6 form-message"><span class="splash-description text-center mt-5 mb-5">Login to your account</span>
            <form method="post" action="{% url 'login_user' %}"> 
                {% csrf_token %}
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><i class="icon s7-user"></i></div>
                    <input class="form-control" type="email" name="email" required="" id="id_email" placeholder="Email" autocomplete="off">
                </div>
                </div>
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><i class="icon s7-lock"></i></div>
                    <input class="form-control" type="password" name="password" required="" id="id_password" placeholder="Password">
                </div>
                </div>
                <div class="form-group login-submit">
                    <button class="btn btn-lg btn-primary btn-block" type='submit'>Login</button>
                </div>
                <div class="form-group row login-tools">
                <div class="col-sm-6 login-remember">
                    
                </div>
                <div class="col-sm-6 pt-2 text-sm-right login-forgot-password"><a href="#">Forgot Password?</a></div>
                </div>
            </form>
            <div class="out-links"><a href="#">© 2020 clinic</a></div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
