{% load static %}

{% for doctor in doctor %}
    {% if doctor.is_active %}<tr>{% else %}<tr class="table-dark">{% endif %}
        <td>
            <label class="custom-control custom-control-sm custom-checkbox">
                <input class="custom-control-input" type="checkbox">
                <span class="custom-control-label"></span>
            </label>
        </td>
        <td class="user-avatar cell-detail user-info">
            <img src="../media/{{ doctor.profile_picture }}" alt="Avatar">
            <span>{{ doctor.first_name }} {{ doctor.last_name }}</span>
            <span class="cell-detail-description">Doctor</span>
        </td>
        <td class="cell-detail">
            <span>{{ doctor.phone_number }}</span>
            <span class="cell-detail-description">{{ doctor.email }}</span>
        </td>
        <td class="cell-detail">
            <span> {{ doctor.date_joined.date }} </span>
            <span class="cell-detail-description"> {{ doctor.date_joined.time }} </span>
        </td>
        <td class="text-right">
            <div class="btn-group dropup btn-hspace">
                <button class="btn btn-secondary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>More</span>
                    <span class="icon-dropdown s7-angle-down"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" href="{% url 'doctor_profile' doctor.id %}">Manage</a>
                    {% if doctor.is_active %}
                        <a class="dropdown-item" href="{% url 'disable_user' doctor.id %}">Deactivate</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'enable_user' doctor.id %}">Activate</a>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
{% endfor %}